body{
    background-color: white !important;
}
.about-content{
    margin: 50px 0px;
    background-image: url(../images/overlay.png);
    background-size: cover;
}
.about-content .container .about-contain{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 50px 0px;
}
.about-contain .about-heading{
    padding: 50px 0px;
}
.about-content h2{
    text-align: center;
    font-weight: bold;
    font-size: 45px;
    padding: 25px 0px;
}
.about-content h3{
    text-decoration: underline;
    padding: 15px 0px;
}
.about-content p{
    letter-spacing: 1px;
    text-align: justify;
}
.about-content .container img{
    height: 400px;
}
.shape{
position: absolute;
    width: 70%;
    top: 0;
    left: 0;
    z-index: -1;
}
@media screen and (max-width: 768px){
    .about-content .container .about-contain{
        flex-direction: column-reverse;
        margin: 25px 0;
    }
    .about-content .container .about-contain{
        flex-wrap: wrap;
    }
    .about-content .container img{
        height: 300px;
    }
    .about-content p{
        font-size: 16px;
    }
    .about-content .container{
        padding: 10px 20px;
    }
    .shape{
        position: absolute;
            width: 100%;
        }
}