body{
  background-color: white !important;
}
.recipie h1{
  text-align: center;
  margin: 25px 0px;
}
.flex{
  display: flex;
  flex-wrap: wrap;
}
section{
  padding: 15px;
}
.shape{
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}
@media screen and (max-width: 768px){
  .shape{
  width:100%;
  }
  .recipie h1{
    margin-top: 150px;
  }
  section{
    padding: 30px 50px;
  }
}
