*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
    background-color: #003d2b !important;
}
a{
    text-decoration: none !important;
}
nav{ 
    height: 90px;
    width: 100%;
  }
  label.logo{
    padding: 5px 100px;
  }
  label.logo img{
    width: 100px;
    z-index: 999;
  }
  nav ul{
    float: right;
    margin-right: 20px;
    margin-bottom:0 ;
    margin-top: 10px;
  }
  nav ul li{
    display: inline-block;
    line-height: 90px;
    margin: 0 5px;
  }
  nav ul li a{
    color: white;
    font-size: 17px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
    text-decoration: none;
  }
  .current{
    background: #FF1744;
    color: #003d2b;
    transition: .5s;
  }
  nav a:hover{
    background: #FF1744;
    color: #003d2b;
    transition: .5s;
  }
  .checkbtn{
    font-size: 30px;
    color: white;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
  }
  #check{
    display: none;
  }
  @media (max-width: 952px){
    label.logo{
      font-size: 30px;
      padding-left: 50px;
    }
    nav ul li a{
      font-size: 16px;
    }
  }
  @media (max-width: 858px){
    .checkbtn{
      display: block;
    }
    ul{
      position: fixed;
      width: 100%;
      height: 100vh;
      background: #150606;
      top: 80px;
      left: -100%;
      text-align: center;
      transition: all .5s;
    }
    nav ul li{
      display: block;
      margin: 50px 0;
      line-height: 30px;
    }
    nav ul li a{
      font-size: 20px;
      text-decoration:none !important;
    }
    nav a:hover,nav a.active{
      background: none;
      color: #d50000;
    }
    #check:checked ~ ul{
      left: 0;
    }
  }

.content{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 80vh;
    width: 100%;
}
.content .container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.content .bbb{
    height: 60vh;
    justify-self: baseline;
}
.content .c-text{
    text-align: center;
    
}
.content .c-text h2{
    font-family: sans-serif;
    font-weight: bold;
    font-size: 45px;
    text-transform: uppercase;
    color: rgb(173, 230, 185);
    margin-bottom: 15px;
}
.content .c-text p{
    color: rgb(173, 230, 185);
    font-size: 20px;
    margin-top: 25px;
}
.content .c-text .btns{
    background-color: rgb(173, 230, 185);
    color: rgb(0, 61, 43);
}
.section2{
    padding: 50px 0px;
    background-color: #f2efe6;
}
.section2 h1{
    text-align: center;
    font-weight: bold;
    color: rgb(0, 61, 43);
    margin: 50px;
}
.section2 .sec2-cont{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    color: rgb(0, 61, 43);
}
.section2 .sec2-cont .sec2-img img{
    height: 400px;
}
.sec2-text{
    text-align: center;
}
.sec2-text .btns{
    background-color: rgb(173, 230, 185);
    color: rgb(0, 61, 43);
}
.section2 .sec2-cont .sec2-img2 img{
    height: 400px;

}
.work{
    padding: 100px;
    background-color: #003d2b;
}
.work h1{
    text-align: center;
    color: rgb(173, 230, 185);
    font-weight: bold;
    font-size: 45px;
}
.work .work-contain{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.work .w-img{
    max-width: 200px;
    box-shadow: 3px 3px 3px 12px black;
}
.work .w-box{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color:white;
    height: 500px;
    border-radius: 12px;
    margin: 30px;
    padding: 20px;
}
.work .w-box p{
    margin: 15px;
    text-align: center;
}
.shape{
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}
.classes{
    background-color: #f2efe7;
}
.product{
    display: flex;
    justify-content: center;
    align-items: center;
}
.product .box{
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 15px;
    border-radius: 12px;
    margin: 0px 10px;
}
.product .box:hover{
    background-color: rgb(173, 230, 185);
    color: #003d2b;
}
.product img{
    height: 50px;
    width: 50px;
}




.fone{
    background-color: rgb(173, 230, 185);;
}


/* .fone{
    display: flex;
    position: relative;
 animation: 90s linear 0s infinite normal none running marquee; 
}

.review{
    background-color: white;
    margin: 10px;
    height: auto;
} */
/* @keyframes marquee{
    0% {
        transform: translateX(0px);
    }
    50% {
        transform: translateX(-100%);
    }} */
.fone .marg{
        margin: 25px 0px;
        padding: 20px 0px;
    }

@media screen and (max-width: 768px){
    .cc{
        height: 200px;
    }
    .navbar li{
        font-size: 10px;
        margin:0px;
        padding: 5px;
        font-weight: normal;
        z-index: 9;
    }
    .navbar a img{
        width: 50px;
        height: 50px;
        z-index: 9999;
    }
    .navbar ul li:last-child{
        margin-left: 5px;
        padding: 10px;
    }
    .content{
        height: 100vh;
    }
    .content .container{
        height: 70vh;
        justify-content: space-around;
    }
    .content .container{
        flex-direction: column;
    }
    .content .bbb{
        display: none;
        height: 250px;
    }
    .content .c-text h2{
        font-size: 30px;
        font-weight: bold;
        margin-bottom: 5px;
    }
    .content .c-text p{
        font-size: 18px;
        margin-top: 10px;
        font-weight: bold;
    }
    .landing{
        height: auto;
    }
    .sec2-text{
        margin: 50px;
    }
    .section2 .sec2-cont .sec2-img img {
        height: 300px;
    }
    .work .work-contain{
        margin: 20px;
    }
    .work .w-box{
        height: auto;
        padding: 25px 40px;
    }
    .work .w-box h2{
        margin: 20px 0px;
    }
    .work .work-contain{
        flex-wrap: wrap;
    }
    .shape{
        width: 100%;
    }
    .product .box img{
        width: 25px;
        height: 25px;
    }
    
}
