*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: sans-serif;
}
/* body{
    background-color: #f2efe6;
} */
.main-container{
    background-color: #f2efe6;
}
.navbar{
    
    display: flex;
    justify-content: space-between;
    background-color:#003d2b;
}
.navbar ul{
    margin: 0;
    padding: 0px;
}
.navbar .logo{
    z-index: 9;
    margin: 20px 0px;
}
.navbar li{
    color: rgb(0, 20, 15);
    font-size: 17px;
    margin:0px 10px;
    background-color: #003d2b;
    color: white;
    cursor: pointer;
}
.navbar .logo img{
    width: 70px;
    height: 70px;
    z-index: 9999;
}
.navbar .img{
    position: absolute;
    height: 300px;
    top: 0;
    left: 0;
    overflow: hidden;
}
.navbar ul{
    display: flex;
    align-items: center;
    justify-content: space-around;
    list-style: none;
    z-index: 9999;
}
.navbar ul li{
    letter-spacing: 1px;
}
.navbar ul li:hover{
    border-bottom: 2px solid red;
}
.navbar ul li a{
    display: block;
    padding: 10px 12px;
    z-index: 66;
    text-decoration: none;
    color: rgb(173, 230, 185) ;
}
.navbar ul li:first-child{
    border-bottom: 2px solid red;
}
.navbar ul li:last-child{
    background-color: rgb(173, 230, 185);
    border-radius: 12px;
    margin-left: 100px ;
    font-weight: bold;
}
.navbar ul li:last-child:hover{
    border-bottom: none;
}
.navbar ul li:last-child a{
    color: #003d2b;
}
.content{
    /* position: relative; */
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #003d2b;
    height: 80vh;
}
.content .container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.content .bbb{
    height: 70vh;
    justify-self: baseline;
}
.content .c-text{
    text-align: center;
    
}
.content .c-text h2{
    font-family: sans-serif;
    font-weight: bold;
    font-size: 45px;
    text-transform: uppercase;
    color: rgb(173, 230, 185);
    margin-bottom: 15px;
}
.content .c-text p{
    color: rgb(173, 230, 185);
    font-size: 20px;
    margin-top: 25px;
}
.content .c-text .btns{
    background-color: rgb(173, 230, 185);
    color: rgb(0, 61, 43);
}
.cc{
    position: absolute;
    left: 0;
    top: 0;
    height: 70vh;
    cursor: pointer;
}
.section2{
    padding: 50px 0px;
    background-color: #f2efe6;
}
.section2 h1{
    text-align: center;
    font-weight: bold;
    color: rgb(0, 61, 43);
    margin: 50px;
}
.section2 .sec2-cont{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    color: rgb(0, 61, 43);
}
.section2 .sec2-cont .sec2-img img{
    height: 400px;
}
.sec2-text{
    text-align: center;
}
.sec2-text .btns{
    background-color: rgb(173, 230, 185);
    color: rgb(0, 61, 43);
}
.section2 .sec2-cont .sec2-img2 img{
    height: 400px;

}
.work{
    padding: 100px;
    background-color: #003d2b;
}
.work h1{
    text-align: center;
    color: rgb(173, 230, 185);
    font-weight: bold;
    font-size: 45px;
}
.work .work-contain{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.work .w-img{
    max-width: 200px;
    box-shadow: 3px 3px 3px 12px black;
}
.work .w-box{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color:white;
    height: 500px;
    border-radius: 12px;
    margin: 30px;
    padding: 20px;
}
.work .w-box p{
    margin: 15px;
    text-align: center;
}




.fone{
    background-color: rgb(173, 230, 185);;
}


/* .fone{
    display: flex;
    position: relative;
 animation: 90s linear 0s infinite normal none running marquee; 
}

.review{
    background-color: white;
    margin: 10px;
    height: auto;
} */
/* @keyframes marquee{
    0% {
        transform: translateX(0px);
    }
    50% {
        transform: translateX(-100%);
    }} */
.fone .marg{
        margin: 25px 0px;
        padding: 20px 0px;
    }

@media screen and (max-width: 768px){
    .cc{
        height: 200px;
    }
    .navbar li{
        font-size: 10px;
        margin:0px;
        padding: 5px;
        font-weight: normal;
        z-index: 9;
    }
    .navbar a img{
        width: 50px;
        height: 50px;
        z-index: 9999;
    }
    .navbar ul li:last-child{
        margin-left: 5px;
        padding: 10px;
    }
    .content{
        background-image: url(../images/yoga-day-png-freepic-10.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
    }
    .content .container{
        flex-direction: column;
    }
    .content .bbb{
        display: none;
        height: 250px;
    }
    .content .c-text h2{
        font-size: 20px;
        margin-bottom: 5px;
    }
    .content .c-text p{
        font-size: 15px;
        margin-top: 10px;
    }
    .landing{
        height: auto;
    }
    .content{
        height: 80vh;
    }
    .sec2-text{
        margin: 50px;
    }
    .section2 .sec2-cont .sec2-img img {
        height: 300px;
    }
    .work .work-contain{
        margin: 20px;
    }
    .work .w-box{
        height: auto;
        padding: 25px 40px;
    }
    .work .w-box h2{
        margin: 20px 0px;
    }
    .work .work-contain{
        flex-wrap: wrap;
    }
    .about-content .container .about-contain{
        flex-wrap: wrap;
    }
    .about-content .container img{
        height: 300px;
    }
    .about-content p{
        font-size: 16px;
    }
}
